@charset "utf-8";

h1 {
	color: darkred;
	font-family: verdana;
	font-size: 38px;
	margin: 25px;
}
h2 {
	color: darkred;
	font-family: times;
	font-size: 18px;
	margin: 25px;
}

#container {
	width: 1420px;
	height: 710px;
	float: left;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	background: #FEF5E7;
}
#text {
	width: 300px;
	height: 690px;
	float: left;
	margin: 10px;
}
#square1 {
	width: 650px;
	height: 650px;
	float: left;
	margin: 25px;
	background: #F19E1E;
}

#square2 {
	width: 555px;
	height: 555px;
	float: left;
	margin: 50px;
	margin-top: 75px;
	background: #C75727;
}

#square3 {
	width: 455px;
	height: 455px;
	float: left;
	margin: 50px;
	margin-top: 75px;
	background: #B94B26;
}

#square4 {
	width: 355px;
	height: 355px;
	float: left;
	margin: 50px;
	margin-top: 75px;
	background: #AE2124;
}

#picture2 {
	width: 300px;
	height: 650px;
	float: left;
	margin: 25px;
}