@charset "utf-8";

h1 {
    color: white;
    font-family: verdana;
    font-size: 38px;
    margin: 25px;
}

#container {
	width: 1416px;
	height: 715px;
	float: left;
	background: #fff;
}

#Part1 {
	width: 177px;
	height: 700px;
	float: left;
    background-color: #002266;
}

#Part2 {
    width: 177px;
    height: 700px;
    float: left;
    background-color: #003399;
}

#Part3 {
    width: 177px;
    height: 700px;
    float: left;
    background-color: #0044cc;
}

#Part4 {
    width: 177px;
    height: 700px;
    float: left;
    background-color: #0055ff;
}

#Part5 {
    width: 177px;
    height: 700px;
    float: left;
    background-color: #3377ff;
}
#Part6 {
    width: 177px;
    height: 700px;
    float: left;
    background-color: #6699ff;
}

#Part7 {
    width: 177px;
    height: 700px;
    float: left;
    background-color: #99bbff;
}

#Part8 {
    width: 177px;
    height: 700px;
    float: left;
    background-color: #ccddff;
}

#square1 {
	width: 175px;
	height: 150px;
	float: left;
	margin: 20px;
	margin-top: 25px;
	background: #EEF5FC;
}

