@charset "utf-8";

h1 {
    color: white;
    font-family: verdana;
    font-size: 38px;
    margin: 25px;
}

#container {
	width: 1420px;
	height: 710px;
	float: left;
	background: #fff;
}

#Part1 {
	width: 236px;
	height: 700px;
	float: left;
    background-color: #0d1a26;
}

#Part2 {
    width: 236px;
    height: 700px;
    float: left;
    background-color: #204060;
}

#Part3 {
    width: 236px;
    height: 700px;
    float: left;
    background-color: #336699;
}

#Part4 {
    width: 236px;
    height: 700px;
    float: left;
    background-color: #538cc6;
}

#Part5 {
    width: 236px;
    height: 700px;
    float: left;
    background-color: #8cb3d9;
}
#Part6 {
    width: 236px;
    height: 700px;
    float: left;
    background-color: #c6d9ec;
}

#square1 {
	width: 175px;
	height: 150px;
	float: left;
	margin: 20px;
	margin-top: 25px;
	background: #EEF5FC;
}

